#splitter
{ cursor: n-resize;
  top: 230px;
  left: 0px;
  right: 0px;
  height: 5px; }

FIELDSET{
  margin-bottom: 0px;
}
LABEL{
 margin: 0px;
 padding: 0px; }

DIV.container{
 margin-bottom: 14px; 
}
DIV#filterRulesContainer,
DIV#filterActionsContainer{
 position: relative; 
}
DIV#filterRulesContainer{
 height: 120px; 
}
DIV#filterActionsContainer{
 height: 200px; 
 margin-bottom: 0px;
}
DIV#filterRules, DIV#filterActions
{ position: absolute;
  cursor: default;
  left: 0px;
  right: 0px;
  bottom: 21px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 0px;
}
DIV#filterRules{
 top: 0px; }

DIV#filterActions{
 top: 20px; }

DIV.bottomToolbar{ 
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  bottom: 0px; }

DIV.rule,
DIV.action{ 
  overflow: hidden;
  width: 100%;
  padding: 0px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;}

DIV.rule._selected,
DIV.action._selected{ 
  background-color: #FFFFD0;}

DIV.action select,
DIV.rule select,
DIV.action INPUT,
DIV.rule INPUT,
DIV.action TEXTAREA  {
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-radius: 0px;
  background-color: transparent;
  float: left;
  padding: 6px ;
  width: 100%;
}
DIV.action select,
DIV.rule select{
  -webkit-appearance:none;
  background: url('select-down.png') no-repeat center right;
}
SPAN.fieldContainer input {
  padding: 6px 5px 5px 5px ;
  width: 40px !important;
}
SPAN.operatorContainer,
SPAN.valueContainer{
 display: table-cell;
}
SPAN.operatorContainer {
    width: 30%;
}
SPAN.valueContainer INPUT,
SPAN.argumentContainer INPUT {
    padding: 7px 2%;
    width: 96%; 
}
SPAN.fieldContainer > select {
    width: 80px;
}
SPAN.methodContainer,
SPAN.argumentContainer{
 float: left;
 width: 50%;
}
SPAN.rejectArgument TEXTAREA{
  height: 54px;
  padding: 6px 3%;
  width: 94%;
  resize: none;
}

SPAN.methodContainer select,
SPAN.fieldContainer select{
  border-left: 0px;
}
